<div style="color: black; margin-left: 10%; margin-right: 10%;margin-bottom: 15%; padding: 5px; font-size: 18px;">
    
    p Hello PHP, 
    
    p #{nominatorName} #{nominatorEmail} has requested a Care Package!

    p The Baby's info is as follows:

    p Name: #{firstName} #{lastName}, #{gender}

    p DOB: #{birthDate}
    
    p Gestation: #{gestationWeeks}w #{gestationDays}d

    p Weight: #{weightPounds}lb #{weightOunces}oz

    p Hospital: 
    
    p #{hospitalName}

    p #{streetAddress} #{streetAddress2} 

    p Floor: #{floorNumber} 

    p Room: #{roomNumber} 

    p #{city}, #{state} #{postalcode} 

    p #{country}

    p 

    p #{nominatorName} has included a note as well - "#{personalNote}"

</div>